<div class="container">
  <div class="callout callout--primary callout-signup">
    <div class="grid grid--1x2">
      <div class="callout__content">
        <h2 class="callout__heading">Ready to Get Started?</h2>
        <p class="callout__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sed
          natus error culpa incidunt blanditiis totam, fuga pariatur! Eius,
          aliquid.
        </p>
      </div>
      <a href="#" class="btn btn--stretched btn--secondary">Get started</a>
    </div>
  </div>
</div>
